[project]
	description = an interpretor for crash
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yupeng820921
[access "refs/for/refs/*"]
	read = group user/yupeng820921
	push = group user/yupeng820921
	label-Code-Review = -2..+2 group user/yupeng820921
	label-Verified = -1..+1 group user/yupeng820921
	rebase = group user/yupeng820921
	removeReviewer = group user/yupeng820921
	submit = group user/yupeng820921
[access "refs/heads/*"]
	read = group user/yupeng820921
	create = group user/yupeng820921
	push = +force group user/yupeng820921
	pushMerge = group user/yupeng820921
[access "refs/tags/*"]
	push = +force group user/yupeng820921
	pushTag = group user/yupeng820921
	pushSignedTag = group user/yupeng820921
